:global(body) {
  position: relative;
}

[hidden] {
  display: none !important;
}

.btn-circle {
  width: 50px;
  height: 50px;
  padding: 12px 16px !important;
  border-radius: 50% !important;
  text-align: center !important;
  font-size: 18px !important;
  line-height: 1.33 !important;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
